* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.btn {
    padding: 5px;
    margin: 5px;
}

#statement {
    min-height: 40px;
}

#output {
    min-height: 40px;
}